<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
    layout:decorate="~{/layout/main}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>게시글 작성</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="write-container">
            <h1 class="board" th:if="${postId == null}">게시판 글 작성</h1>
            <h1 class="board" th:unless="${postId == null}">게시판 글 수정</h1>


            <form th:action="${postId == null} ? @{/posts/write} : @{/posts/update/{id}(id=${postId})}" method="post"
                th:object="${postForm}" enctype="multipart/form-data">

                <div class="write-form-group">
                    <label for="boardTypeNo">게시판 선택</label>
                    <select id="boardTypeNo" th:field="*{boardTypeNo}">
                        <option class="write-form" value="">게시판을 선택해주세요</option>
                        <option class="write-form" value="1">러닝 게시판</option>
                        <option class="write-form" value="2">웨이트 게시판</option>
                    </select>
                </div>

                <div class="write-form-group">
                    <label for="title">제목</label>
                    <input type="text" id="title" th:field="*{title}" placeholder="제목을 입력해주세요">
                </div>

                <div class="write-form-group file-group">
                    <label class="file-label">사진 업로드</label>
                    <div class="file-input-wrapper">
                        <input id="postImageInput" class="file-input-real" type="file" th:field="*{postImage}"
                            name="postImage" accept="image/*" />
                        <label for="postImageInput" class="file-input-fake">
                            <span class="file-placeholder">(선택) 업로드할 이미지를 선택해주세요</span>
                        </label>
                    </div>
                </div>

                <div class="write-form-group">
                    <label for="content">내용</label>
                </div>
                <div class="write-form-group">
                    <textarea id="content" th:field="*{content}" rows="15" placeholder="내용 입력.."></textarea>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn-submit" th:text="${postId == null} ? '등록' : '수정'">등록</button>
                </div>
            </form>

        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {

                try {
                    const fileInput = document.getElementById('postImageInput');
                    const filePlaceholder = document.querySelector('.file-placeholder');

                    fileInput.addEventListener('change', () => {
                        if (fileInput.files.length > 0) {
                            filePlaceholder.textContent = fileInput.files[0].name;
                        } else {
                            filePlaceholder.textContent = '(선택) 업로드할 이미지를 선택해주세요';
                        }
                    });
                } catch (e) {
                    console.error("파일 업로드 스크립트 오류:", e);
                }
            });
        </script>
    </div>

</body>

</html>