header {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 200px;
  height: 200px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px;
  border-color: #eaeaea;
}
h1 {
  font-size: 80px;
}
#id,
#pw {
  width: 800px;
  height: 100px;
  border-color: #989898;
}
#not-member {
  font-size: 36px;
  margin-top: 140px;
  display: flex;
  justify-content: center;
}
#signup {
  width: 800px;
  height: 100px;
  background-color: #fb7163;
}

.id, .pw, .name, .email, .tel{
  width: 800px;
  height: 100px;
  border-color: #989898;
}