:root {
  --primary: #007bff;
  --secondary: #fb7163;
  --accent: #14b8a6;
  --light: #f3f4f6;
  --dark: #0c414d;
}

body {
  font-family: "Noto Sans KR", system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
  margin: 0px;
  height: 100vh;
}

#wrap {
  height: auto;
  min-height: calc(100%-150px);
}

/* header 스타일 */
header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 180px;
  height: 180px;
}

/* footer 스타일 */
footer {
  height: 150px;
}
.foot-container {
  display: flex;
  justify-content: space-between;
  background-color: #f2f0f0;
}
.foot-etc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 50px;
}
.foot-box {
  display: flex;
  padding: 0px 0px 30px 0px;
}
.foot-box > a {
  margin-right: 10px;
  font-size: 10px;
}
.foot-info > p {
  font-size: 10px;
  margin: 16px 0px;
}
.foot-cs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 50px;
}
.foot-cs > h1 {
  font-size: 14px;
  font-weight: bold;
}
.foot-cs > h2 {
  font-size: 14px;
}

/* 본문 스타일 */
/* 로그인 페이지 */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px;
  border-color: #eaeaea;
  padding: 0px 0px 50px 0px;
}
.login-container > h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}
#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login-id,
#login-pw {
  width: 410px;
  height: 60px;
  margin: 10px;
  border: 1px solid #989898;
  border-radius: 14px;
  font-size: 14px;
}
#login-button {
  width: 410px;
  height: 60px;
  margin: 10px;
  border: none;
  border-radius: 14px;
  background-color: var(--primary);
  color: white;
  font-size: 14px;
}
#login-not-member {
  font-size: 36px;
  margin: 15px 0px 5px 0px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
#login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 410px;
  height: 60px;
  margin: 10px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 14px;
  background-color: var(--secondary);
}

.id,
.pw,
.name,
.email,
.tel {
  width: 800px;
  height: 100px;
  border-color: #989898;
}
